<%- include('partials/header') -%>

<header>
    <h2>All Flights</h2>
</header>

<ol>
   <% flights.forEach(function(flight) { %>
    <div class="card">
        <div class="card-header">
            <%= flight.flightTime %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= flight.title %></h5>
          <p class="card-text"><%= flight.departureDatetime %> to <%= flight.arrivalDatetime %></p>
          <a href="/flight/<%= flight.flightId %>" class="btn btn-primary">View Flight</a>
        </div>
      </div>
   <% }); %>
</ol>

<%- include('partials/footer') -%>
